<!-- Section: Blog v.1 -->
<section class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light h-100 w-50 mh-100 mw-100" mdbWavesEffect>
          <img class="img-fluid" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/103936281_1356675064521751_3848722287728773068_o.jpg?_nc_cat=102&ccb=2&_nc_sid=730e14&_nc_ohc=L07wnxE4sf8AX97XY5o&_nc_ht=scontent-mia3-2.xx&oh=ee477b36bf4fd63dfeb4b263fb38c1b8&oe=5FF543C5" alt="Father's Day">
          <a>
            <div class="mask rgba-white-slight"></div>
            <i class="far fa-thumbs-up fa-2x" style="margin-left:45%; margin-top:5%; color:#34a6fd"></i>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="green-text">
          <h6 class="font-weight-bold mb-3">
            <i class="fa fa-house-return"></i>
              Father
          </h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Father's Day </strong></h3>
        <!-- Excerpt -->
    <!-- Section description -->
    <p>
      Thank you father, because I know that if you exist, life is a safe place.
      Because I know that you will be watching my steps no matter how far I go.
      Because I know that I will have your support, whatever I do and I will be where I am. For showing me that life is a challenge, a challenge and a gift ... thank you Dad!
      Nearsol family.
      <br>
      Because being a father is also a blessing, Congratulations!
        
        <!-- Post data -->
        by <a><strong>Anonimous Writer</strong></a>, 17/07/2020</p>
        <!-- Read more button -->
        <a mdbBtn color="success" mdbWavesEffect>Read more</a>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
      
    </div>
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3">
            <i class="fa fa-image"></i>            
            Lifestyle
          </h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Gratitude Wall</strong></h3>
        <!-- Excerpt -->
        <p>I'm grateful <strong>to have my family</strong> 
          <strong style="text-emphasis-color: red;"> Healthy</strong>.
        </p>
        <!-- Post data -->
        <p>by <a><strong>Pablo</strong></a>, 26/11/2020</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
  
      </div>
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light h-100 w-50 mh-100" style="width: 100%;" mdbWavesEffect>
          <img class="img-fluid" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/127711270_1502014863321103_4037029976404932790_o.jpg?_nc_cat=105&ccb=2&_nc_sid=cdbe9c&_nc_ohc=9zAYrZtN0LQAX_b1-sk&_nc_ht=scontent-mia3-2.xx&oh=b4f2ac2cded1b4db2ad422b4451367d1&oe=5FF5B569" alt="Gratitude Wall">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
      </div>
  
      <!-- Grid column -->
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light  h-100 w-50 mh-100 mw-100" mdbWavesEffect>
          <img class="img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/116276215_1394136550775602_682707329445015573_o.jpg?_nc_cat=108&ccb=2&_nc_sid=730e14&_nc_ohc=qs77Zi8Yp2gAX9dcFc0&_nc_ht=scontent-mia3-1.xx&oh=1a386d6fe8106001534c8418a773ffd8&oe=5FF524E8" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="indigo-text">
          <h6 class="font-weight-bold mb-3">
            <i class="fas fa-users-class"></i>
            Friendship
          </h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Friendship day</strong></h3>
        <!-- Excerpt -->
        <p>
          Friendship is perhaps the most perfect form of love. 
          Unlike ties with family, friendship is one that is chosen, 
          not inherited. And at Nearsol we promote friendship by celebrating it on its day.
        </p>
        <!-- Post data -->
        <p>by <a><strong>Anonimous Writer</strong></a>, 30/07/2020</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->
