<ul *ngFor="let item of items">
  <li  class="nav nav-item">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <mdb-card cascade = "true">
          <!-- Card Image-->
          <div class="view view-cascade overlay waves-light w-50" style="align-self: center; margin-top: 10px;" mdbWavesEffect>
            <mdb-card-img src="{{ item.img }}" class="img-responsive rounded img-"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- end Card Image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <svg class="svg-icon before" width="45px" height="45px" (mouseleave)="setIcon1()" (mouseenter)="setIcon1()" [ngClass]="{ 'svg-blue':icon1 === false, 'svg-blue-hover':icon1 === true}"><use xlink:href="assets/family.svg#family"></use></svg>
            <svg class="svg-icon before" width="45px" height="45px" (mouseleave)="setIcon2()" (mouseenter)="setIcon2()" [ngClass]="{ 'svg-red':icon2 === false, 'svg-red-hover':icon2 === true}"><use xlink:href="assets/care.svg#care"></use></svg>
            <svg class="svg-icon before" width="45px" height="45px" (mouseleave)="setIcon3()" (mouseenter)="setIcon3()" [ngClass]="{ 'svg-orange':icon3 === false, 'svg-orange-hover':icon3 === true}"><use xlink:href="assets/create.svg#create"></use></svg>
            <svg class="svg-icon before" width="45px" height="45px" (mouseleave)="setIcon4()" (mouseenter)="setIcon4()" [ngClass]="{ 'svg-violet':icon4 === false, 'svg-violet-hover':icon4 === true}"><use xlink:href="assets/compromise.svg#compromise"></use></svg>
            <svg class="svg-icon before" width="45px" height="45px" (mouseleave)="setIcon5()" (mouseenter)="setIcon5()" [ngClass]="{ 'svg-yellow':icon5 === false, 'svg-yellow-hover':icon5 === true}"><use xlink:href="assets/results.svg#results" alt="Calidad Humana"></use></svg>
            <h4 class="card-title">
              <strong>
                {{ item.title }}
              </strong>
            </h4>         
            <mdb-card-text class="text-justify text-wrap mw-95">              
              <p style="padding-left: 40px; padding-right: 40px;">
                {{ item.comentary }}
              </p>
            </mdb-card-text>
            <div class="card-footer mt-6">
              <div class="d-flex">
                <div class="mr-auto p-2">                
                    {{ item.writedby }}                    
                    <br>
                    <div style="text-align: left;" class="font-italic small">
                    {{ item.date }}
                  </div>
                </div>                
                <div class="p-2">
                  <svg class="svg-icon before" width="25px" height="25px" (mouseleave)="setMiniIcon1()" (mouseenter)="setMiniIcon1()" [ngClass]="{ 'svg-blue':miniicon1 === false, 'svg-blue-hover':miniicon1 === true}"><use xlink:href="assets/family.svg#family"></use></svg>
                  <svg class="svg-icon before" width="25px" height="25px" (mouseleave)="setMiniIcon2()" (mouseenter)="setMiniIcon2()" [ngClass]="{ 'svg-red':miniicon2 === false, 'svg-red-hover':miniicon2 === true}"><use xlink:href="assets/care.svg#care"></use></svg>
                  <svg class="svg-icon before" width="25px" height="25px" (mouseleave)="setMiniIcon3()" (mouseenter)="setMiniIcon3()" [ngClass]="{ 'svg-orange':miniicon3 === false, 'svg-orange-hover':miniicon3 === true}"><use xlink:href="assets/create.svg#create"></use></svg>
                  <svg class="svg-icon before" width="25px" height="25px" (mouseleave)="setMiniIcon4()" (mouseenter)="setMiniIcon4()" [ngClass]="{ 'svg-violet':miniicon4 === false, 'svg-violet-hover':miniicon4 === true}"><use xlink:href="assets/compromise.svg#compromise"></use></svg>
                  <svg class="svg-icon before" width="25px" height="25px" (mouseleave)="setMiniIcon5()" (mouseenter)="setMiniIcon5()" [ngClass]="{ 'svg-yellow':miniicon5 === false, 'svg-yellow-hover':miniicon5 === true}"><use xlink:href="assets/results.svg#results" alt="Calidad Humana"></use></svg>                    
                </div>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </li>
</ul>

