<ul *ngFor="let item of items">
  <li  class="nav nav-item">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <mdb-card cascade = "true">
          <!-- Card Image-->
          <div class="view view-cascade overlay waves-light w-50" style="align-self: center; margin-top: 10px;" mdbWavesEffect>
            <mdb-card-img src="{{ item.img }}" class="img-responsive rounded img-"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- end Card Image-->

          <mdb-card-body cascade="true" class="text-center pb-0 px-0">
            <h4 class="card-title">
              <strong>
                {{ item.title }}
              </strong>
            </h4>
            <!--
              En este espacio se colocarán los íconos de las redes sociales.
            -->
            <mdb-card-text class="text-justify text-wrap mw-95">
              <p style="padding-left: 40px; padding-right: 40px;">
                {{ item.comentary }}
              </p>
            </mdb-card-text>
            <div class="card-footer mt-6">
              <div class="d-flex">
                <div class="mr-auto p-2">                
                    {{ item.writedby }}                    
                </div>
                <div class="p-2">
                    {{ item.date }}
                </div>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </li>
</ul>

